{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if card %}
<h1>Edit {{ card.name }}</h1>
{% else %}
<h1>Add a Card</h1>
{% endif %}

<div class="page-header">
  <h1>Add a Card</h1>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}