<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Overpass:wght@300&display=swap" rel="stylesheet">
  <title>About Card Collector</title>
</head>
<body>
  {% extends 'base.html' %}

  {% block content %}
  <h1>About the Card Collector</h1>
  <hr />
  <p class="page-content">
    Where you come to collect all of your cards!
  </p>
  {% endblock%}
</body>
</html>