<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Overpass:wght@300&display=swap" rel="stylesheet">
  <title>About Card Collector</title>
</head>
<body>
  {% extends 'base.html' %}

  {% block content %}
  <h1>About the Card Collector</h1>
  <hr />
  <p class="page-content">
    
Welcome to Card Collector, the ultimate app for all card enthusiasts and collectors! Whether you're a seasoned collector or just starting your card collection journey, our app is your go-to companion for discovering, organizing, and trading cards from various genres.

With Card Collector, you can explore a vast collection of cards spanning sports, trading card games, collectible card games, and more. From classic baseball cards to rare Pokémon cards, we have something for every collector's taste. Immerse yourself in the world of card collecting and experience the thrill of finding hidden gems to add to your personal collection.

  </p>
  {% endblock%}
</body>
</html>