{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cards/card-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Card List</h1>
</section>

<section class="card-container">
  {% for card in cards %}
  <a href="{% url 'card-detail' card.id %}">
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          {% if card.photo.url %}
              <img 
                src="{{card.photo.url}}" 
                alt="A photo of {{card.name}}"
                class="usr-img"
              >
            {% else %}
              <img class="index-pic" 
                src="{% static 'images/baseball.png' %}" 
                alt="baseball card pic"
              >
            {% endif %}
        </div>
        <h2 class="card-title">{{ card.name }}</h2>
        {% if card.price > 0 %}
          <p>Price: ${{ card.price }} </p>
        {% else %}
          <p>A {{ card.brand }} brand</p>
        {% endif %}
        <p><small>{{ card.description }}</small></p>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}