{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cards/card-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Card List</h1>
  {% comment %} <img src="{% static 'images/cool-card.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-card.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-card.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for card in cards %}
  <a href="{% url 'card-detail' card.id %}">
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          {% if card.photo.url %}
              <img 
                src="{{card.photo.url}}" 
                alt="A photo of {{card.name}}"
                class="usr-img"
              >
            {% else %}
              <img 
                src="{% static 'images/sk8r-boi-cat.svg' %}" 
                alt="A skater boy cat"
              >
            {% endif %}
          {% comment %} <img 
            src="{% static 'images/sk8r-boi-cat.svg' %}" 
            alt="A skater boy cat"
          > {% endcomment %}
        </div>
        <h2 class="card-title">{{ card.name }}</h2>
        {% if card.price > 0 %}
          <p>A ${{ card.price }} {{ card.brand }}</p>
        {% else %}
          <p>A {{ card.brand }} brand</p>
        {% endif %}
        <p><small>{{ card.description }}</small></p>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}